<section class="caracteristics" id="caracteristics">
    <div class="container">
        <h4 class="caracteristics__title-primary">
            Характеристики
        </h4>
        <div class="caracteristics__inner">
            <div class="caracteristics__items">
                <ul class="caracteristics__list">
                    <li class="caracteristics__title">
                        Общие
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Производитель</p>
                        <p class="caracteristics__descr">Xiaomi</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Вид</p>
                        <p class="caracteristics__descr">взрослый, дорожный, городской, электровелосипед, алюминиевая рама</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Колеса</p>
                        <p class="caracteristics__descr">26, двойной алюминиевый обод</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Электропривод</p>
                        <p class="caracteristics__descr">мотор 250W, разгон до 25 км/ч</p>
                    </li>
                </ul>
                <ul class="caracteristics__list">
                    <li class="caracteristics__title">
                        амортизация
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Тип амортизации</p>
                        <p class="caracteristics__descr">амортизирующая вилка (Hard tail)</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Вилка</p>
                        <p class="caracteristics__descr">пружинно-эластомерная</p>
                    </li>
                </ul>
                <ul class="caracteristics__list">
                    <li class="caracteristics__title">
                        управление
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Руль</p>
                        <p class="caracteristics__descr">изогнутый, регулируемый подъем</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Манетки</p>
                        <p class="caracteristics__descr">триггерные однорычажные, Shimano</p>
                    </li>
                </ul>
                <ul class="caracteristics__list">
                    <li class="caracteristics__title">
                        характеристика трансмиссии
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Количество скоростей</p>
                        <p class="caracteristics__descr">7</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Педали</p>
                        <p class="caracteristics__descr">классические</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Передний переключатель</p>
                        <p class="caracteristics__descr">1 звезда</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Задний переключатель</p>
                        <p class="caracteristics__descr">Shimano Tourney (прогулочный)</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Кассета</p>
                        <p class="caracteristics__descr">7 звезд</p>
                    </li>
                </ul>
                <ul class="caracteristics__list">
                    <li class="caracteristics__title">
                        тормоза
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Передний</p>
                        <p class="caracteristics__descr">дисковый механический</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Задний</p>
                        <p class="caracteristics__descr">дисковый механический</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Готовность к установке дисковых</p>
                        <p class="caracteristics__descr">рама, вилка, втулка </p>
                    </li>
                </ul>
                <ul class="caracteristics__list">
                    <li class="caracteristics__title">
                        прочее
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Оснащение</p>
                        <p class="caracteristics__descr">электрооборудование, звонок</p>
                    </li>
                    <li class="caracteristics__line">
                        <p class="caracteristics__name">Вес</p>
                        <p class="caracteristics__descr">25 кг</p>
                    </li>
                </ul>
            </div>
            <img class="caracteristics__img" src="/assets/img/panelSpeed.jpg" alt="">
        </div>
    </div>
</section>