<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="#" class="footer__link">
              Политика конфиденциальности
            </a>
            <div class="footer__social">
                <a class="footer__social-link" href="#">
                    <img class="footer__social-img" src="/assets/img/inst.svg" alt="">
                </a>
                <a class="footer__social-link" href="#">
                    <img class="footer__social-img" src="/assets/img/face.svg" alt="">
                </a>
            </div>
            <div class="footer__contacts">
                <a href="tel:+380506777777" class="footer__contacts-link">
                    <img class="footer__contacts-img" src="/assets/img/tel.svg" alt="">
                    <span>+38 050 677 77 77</span>
                </a>
                <a href="mailto:elektrobikeukr@gmail.com" class="footer__contacts-link">
                    <img class="footer__contacts-img" src="/assets/img/mail.svg" alt="">
                    <span>elektrobikeukr@gmail.com</span>
                </a>
            </div>
        </div>
    </div>
</footer>