<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#">
                <img class="logo__img" src="assets/img/logo.jpg" alt="logo"></a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#info">
                          Описание
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#caracteristics">
                          Характеристики
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#shop">
                          стоимость
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>